/* Estilos da Módulo 16 */

h1, h2, h3 {
    color: #e62828;
}

hr {
    border-color: #888;
}

header {
    background-color: #111;
}

header img {
    max-width: 175px !important;
}

header .container {
    line-height: 0;
}

footer {
    background-color: #111;
    color: #aaa;
}

footer .nav-link {
    color: #aaa;
}

footer .nav-link:hover {
    color: #eee;
}

#sobrenos .firstimg {
    min-height: 215px;
}

#roteiros {
    background-color: #eee;
}

@media only screen and (max-width: 991px) {
    .pleasefullwidth {
        width: 100% !important;
    }
}